@utility text-gradient {
  /* กำหนดทิศทางและสีที่ดึงมาจาก @theme */
  background-image: linear-gradient(
    135deg,
    var(--color-accent),
    var(--color-accent2)
  );

  /* เทคนิคการตัดพื้นหลังให้เข้ากับตัวอักษร */
  background-clip: text;
  -webkit-background-clip: text;
}
